db/
incremental_db/
output_files/
*.bak
*.*~
*.o
*_sim/
*~
*.rpt
*.done
c5_pin_model_dump.txt
db
soc_system.asm.rpt
soc_system.done
soc_system.fit.rpt
soc_system.fit.smsg
soc_system.fit.summary
soc_system.flow.rpt
soc_system.jdi
soc_system.map.rpt
soc_system.map.smsg
soc_system.map.summary
soc_system.qws
soc_system.sld
soc_system.sof
soc_system.sopcinfo
soc_system.sta.rpt
soc_system.sta.summary
soc_system_assignment_defaults.qdf
tags
soc_system.merge.summary
soc_system/simulation/
software/spl_bsp/generated/
software/spl_bsp/uboot-socfpga/
software_bak/
*.RAW
